header, nav, main, footer { display: block; }
body { 
background-color: #170266; /* Set background color*/
	color: #acacac; /* Set text color*/ 
	font-family: "Times New Roman", Arial, sans-serif; /*Define font family*/
	background-image: url(../images/background.jpg); /*set background images for body*/
	background-repeat: no-repeat;
	background-attachment: fixed; /*fix the background position*/
	background-size: cover; /*cover the entire element with the image*/
	margin: 0;
}
/* Styles for the Wrapper */
#wrapper {
	 /* width: 900px;Set width to 80% of the parent container */
    margin: auto; /* Center horizontally */
	background-color: #000000; /* Set background color */
	color: #c0c0c0; /* set text color*/
	box-shadow: 5px 5px 5px #999999; /*set box-shadow*/
	padding: 0
}
/*Styles for the Header */
header {
	background-image: url(../images/stars.jpg); /* Set heading image */
    background-repeat: no-repeat; /* Set no repeat heading */
    background-color: #051545; /* Set heading background color*/
	height: 100px; /* setting heading background height*/
	font-family: Georgia, "Times New Roman", serif; /* Setting heading font */
	background-color: #051545; /* Set background color */
	color: #350142; /* Set text color */
	text-align: center;
	padding-top: 5px; /* Add top padding */
	padding-bottom: 10px; /* Add bottom padding */
}
/* Styles for Headings tags*/
h1 { 
	
	font-size: 2.5em; /* setting font size*/
   /*  padding-left: 80px; setting left padding*/
	
	text-shadow: 3px 3px 3px #90745D; /*setting text shaow*/
	
}
/* Styles for Navigation */
nav { 
	
   /* width: 200px; */
   background-color: #7c259a; /* Set background color */
   text-align: center;
}
nav ul { 
	list-style-type: none; 
   /* padding-left: 20px;*/
   padding: 0;
	margin: 0;
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
}
nav li { 
	border-bottom: 1px;
	padding: .5em 1em;
	width: 100%;
}
nav a { 
	text-decoration: none; 
}
nav a:link { 
	color: #000000; 
}
nav a:visited{ 
	color: #FFFFFF; 
}
nav a:hover { 
	color: #868686; 
}
/*Styles for the Main Element*/
main {
	display: block;
	padding: 0 0 2em 2em;
	background-color: #051545;
	overflow:auto;
}
main ul { padding-left: 2em; }
/*Styles rules for Details class*/
.details {
	padding-left: 20%;
	padding-right: 20%; 
	overflow: auto; 
}
main img { 
			float: right;
			padding: 20px;
	}
img {
  width: 100%;
  height: auto;
}
		#gallery { position: relative; }
		#figure { position: absolute;
				 top: 16px; 
				left: 800px;
				 text-align: center;
				 opacity: .25; 
		}
		#gallery ul { width: 700px; 
					  display: flex; 
					  float: left;
					  padding: 10px;
					  flex-direction: row;
					  flex-wrap: wrap;
		}
		#gallery li { list-style-type:none;
						display:inline;
					  
					  
		}
		#gallery img { border-style: none;
						width: 300px;
		}
		#gallery a { color: #EAEAEA;
					 text-decoration: none; 
					 font-style: italic;
		}
		#gallery span { position: absolute; 
						left: -1000px;
						opacity: 0;
						transition: opacity 3s ease-in-out; 
		}
		#gallery a:hover span { position: absolute;
								top: 16px; 
								left: 800px;
								text-align: center; 
								opacity: 1;
		}
#mobile {display: inline;}
#desktop {display: none;}
/*Style rules for Table Element*/
table {
	margin: auto;
	width: 90%; 
	border-spacing: 0;
}
 th, td { padding: 10px; }
 tr:nth-of-type(odd) { background-color: #000000; }
 /*Styles for the Form Element*/
 form { 
	display: flex;
	flex-direction: column;
	width: 80%;
 }
/*Styles for footer*/
footer { background-color: #000000;
       margin-left: 70px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
/*Media Query for a medium screen*/
@media (min-width: 600px) {
	#wrapper {width: 80%;
	}
	header {
		padding-left: 0;
		text-align: center;
	}
	h1 { font-size: 3em; }
	nav ul {
		flex-flow: row nowrap;
		justify-content: space-around;
		
	}
	nav li { border-bottom: none; }
	.flow {
		display: flex;
		flex-direction: row;
	}
		
	#mobile {display: none;}
	#desktop {display: inline;}
	/*Form Styles*/
	form {
		width: 40%;
		display: grid;
		grid-gap: 1em;
		gap: 1em;
		grid-template-columns: 6em 1fr;
	}
	input [type="submit"] { 
		grid-column: 2 / 3;
		width: 9em;
	}
	.details {
		display: flex;
		flex-direction: row;
	}
}
	  /*Media Query for Large Screen*/
@media (min-width: 1024px) {
	@supports (display: grid) {
		header{ grid-area: header; }
		nav { grid-area: nav; }
		main { grid-area: main; }
		footer { grid-area: footer; }
		#wrapper {
			display: grid;
			grid-template:
				"header header"
				"nav main"
				"footer footer"
				/ 200px; 
		}
		nav ul { 
			flex-direction: column;
		}
		
	}	
}